@using MyPet.Common
@using MyPet.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model MyPet.Web.ViewModels.Pets.SinglePetViewModel
<!DOCTYPE html>
<html lang="en">

<body class="profile">

    <div class="container">
        <div class="info">
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <p></p>
                    <img src="@Model.ImageUrl" idth="300" height="180" style="border-radius:15px">
                </div>
                <div class="col-12 col-md-8 d-flex flex-column align-items-center align-items-lg-start">
                    <div class="d-flex flex-row align-items-start mt-3 mt-lg-0">
                        <div class="name">
                            <h2 class="ml-lg-0">@Model.Name &nbsp;</h2>
                        </div>
                        <span class="badge badge-secondary text-center">@Model.Gender</span>
                    </div>
                    <div class="stats d-flex flex-row align-items-center align-items-lg-start text-center text-lg-left">
                        <div class="posts ml-2 ml-lg-0"><p class="lead"><b><i class="fas fa-city">  </i></b> @Model.CityName &nbsp;&nbsp;  </p></div>
                        @if (Model.SpecieName == "Cat")
                        {
                            <div class="posts"><p class="lead"><b><i class="fas fa-cat"></i></b> @Model.BreedName  &nbsp;&nbsp;  </p></div>
                        }
                        @if (Model.SpecieName == "Dog")
                        {
                            <div class="posts"><p class="lead"><b><i class="fas fa-dog"></i></b> @Model.BreedName &nbsp;&nbsp; </p></div>
                        }
                        <div class="posts"><p class="lead"><b>@Model.TotalLikes</b> likes</i></p></div>
                    </div>
                    <i class="fas fa-birthday-cake"> @Model.DateOfBirth.ToString("dd MMMM yyyy")</i>
                    <hr />
                    <p class="lead text-center text-lg-left">This is my Description</p>
                </div>
            </div>
            @if (this.User.Identity.Name == Model.Email)
            {
                <div class="single-meta">
                    <a asp-action="Edit"  asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
                </div>

            }
            <div class="navigation d-flex justify-content-center">
                <ul class="nav nav-primary nav-tabs mt-3 d-flex flex-column flex-md-row">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#photos">
                            <i class="fas fa-th"></i> Photos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#saved">
                            <i class="far fa-bookmark"></i> Comments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tagged">
                            <i class="far fa-id-badge"></i> Likes
                        </a>
                    </li>
                </ul>
            </div>
            <div class="profile-tabs tab-content">
                <div class="tab-pane fade show active " id="photos">
                    <div class="row">
                        @foreach (var image in Model.Images)
                        {<div class="list">
                                <div class="row-cols-xl-6">
                                    <div class="col-12 col-md-4">
                                        @if (this.User.Identity.Name == Model.Email)
                                        {

                                            <a class="btn btn-danger btn-sm" sp-controller="Profiles" asp-action="Delete" asp-route-id="@image.Id" asp-route-petId="@Model.Id">X</a>
                                        }
                                        <img src="@image.ImageUrl" idth="250" height="250" style="border-radius:10px">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
                <div class="tab-pane fade text-center" id="saved">

                    <p class="lead"><span class="text-danger"><i class="far fa-frown-open"></i></span> Nothing saved yet.</p>
                </div>
                <div class="tab-pane fade text-center" id="tagged">
                    @foreach (var like in Model.Likes)
                    {                        
                        <div class="list">@like.CreatedOn.ToString("dd/MM/yyyy") by -> <a href="/Users/MyPets?addedByUserId=@like.UserId">@like.Email </a></div>
                    }
                    </>
                </div>
        </div>
    </div>
</body>
</html>
